.icon-menu {
  width: 30px;
  height: 30px;
  background: #909090;
  mask-image: url("../imgs/menu.svg");
  -webkit-mask-image: url("../imgs/menu.svg"); }

.icon-exit {
  width: 20px;
  height: 20px;
  background: #222222;
  mask-image: url("../imgs/close-browser.svg");
  -webkit-mask-image: url("../imgs/close-browser.svg");
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; }

.btn-menu {
  display: none;
  background: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }
  .btn-menu:hover {
    border-color: #5bc98a; }
    .btn-menu:hover .icon-menu {
      background: #5bc98a; }

.kmd-menu {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5); }

@media (max-width: 1199.98px) {
  .kmd-menu {
    display: block; }
  .btn-menu {
    display: inline-block; }
  body {
    padding: 0 10px 0 10px;
    background: #f7f7f7; }
  .header {
    height: auto; }
  #menu-top {
    background: transparent;
    border-radius: 0;
    position: relative; }
  .login {
    display: none; }
  .logo {
    width: 90px;
    height: 90px;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
    .logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .menu {
    background: #ffffff;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    right: 0;
    padding-top: 45px;
    padding-left: 10px;
    position: fixed;
    width: 50%; }
    .menu ul {
      align-items: start !important; }
    .menu li {
      margin-top: 10px !important; }
  .m-1 {
    height: 100%;
    background: #ffffff;
    order: 2;
    width: 100%; }
    .m-1 ul {
      display: flex;
      flex-direction: column; }
  .m-2 {
    order: 1;
    width: 100%; }
    .m-2 ul {
      display: none  !important; }
  .text-search {
    margin: 0;
    order: 2; }
    .text-search input {
      width: 100%; }
  #menu-bot {
    display: flex;
    flex-wrap: wrap; }
    #menu-bot .menu {
      margin: 0 auto;
      height: auto;
      background: transparent;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      visibility: visible;
      position: relative; }
    #menu-bot .logo {
      position: unset;
      top: unset;
      left: unset;
      transform: translate(0); }
    #menu-bot .m-1 {
      display: none; }
  .icons {
    width: 70%; }
  .list-tag {
    width: 70%; }
  .img-instagram {
    margin-right: 10px; }
  .f-news {
    flex-wrap: wrap; }
  .drop-menu {
    width: 50%;
    height: 100%;
    display: block;
    position: fixed;
    left: 50%;
    top: 0;
    padding-top: 50px;
    padding-left: 20px; } }

#slide .row {
  margin: 0; }

#slide .col-sm-12 {
  padding: 0; }

@media (max-width: 575.98px) {
  .content-slide {
    padding: 20px 10px; } }
