:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p, .login a {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-inline {
    display: inline !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-table {
    display: table !important; }
  .d-sm-table-row {
    display: table-row !important; }
  .d-sm-table-cell {
    display: table-cell !important; }
  .d-sm-flex {
    display: flex !important; }
  .d-sm-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }
  .d-md-inline {
    display: inline !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-table {
    display: table !important; }
  .d-md-table-row {
    display: table-row !important; }
  .d-md-table-cell {
    display: table-cell !important; }
  .d-md-flex {
    display: flex !important; }
  .d-md-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-table-row {
    display: table-row !important; }
  .d-lg-table-cell {
    display: table-cell !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-inline {
    display: inline !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-table {
    display: table !important; }
  .d-xl-table-row {
    display: table-row !important; }
  .d-xl-table-cell {
    display: table-cell !important; }
  .d-xl-flex {
    display: flex !important; }
  .d-xl-inline-flex {
    display: inline-flex !important; } }

@media print {
  .d-print-none {
    display: none !important; }
  .d-print-inline {
    display: inline !important; }
  .d-print-inline-block {
    display: inline-block !important; }
  .d-print-block {
    display: block !important; }
  .d-print-table {
    display: table !important; }
  .d-print-table-row {
    display: table-row !important; }
  .d-print-table-cell {
    display: table-cell !important; }
  .d-print-flex {
    display: flex !important; }
  .d-print-inline-flex {
    display: inline-flex !important; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-grow-0 {
  flex-grow: 0 !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.flex-shrink-0 {
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  flex-shrink: 1 !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important; }
  .flex-sm-column {
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-sm-start {
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    justify-content: center !important; }
  .justify-content-sm-between {
    justify-content: space-between !important; }
  .justify-content-sm-around {
    justify-content: space-around !important; }
  .align-items-sm-start {
    align-items: flex-start !important; }
  .align-items-sm-end {
    align-items: flex-end !important; }
  .align-items-sm-center {
    align-items: center !important; }
  .align-items-sm-baseline {
    align-items: baseline !important; }
  .align-items-sm-stretch {
    align-items: stretch !important; }
  .align-content-sm-start {
    align-content: flex-start !important; }
  .align-content-sm-end {
    align-content: flex-end !important; }
  .align-content-sm-center {
    align-content: center !important; }
  .align-content-sm-between {
    align-content: space-between !important; }
  .align-content-sm-around {
    align-content: space-around !important; }
  .align-content-sm-stretch {
    align-content: stretch !important; }
  .align-self-sm-auto {
    align-self: auto !important; }
  .align-self-sm-start {
    align-self: flex-start !important; }
  .align-self-sm-end {
    align-self: flex-end !important; }
  .align-self-sm-center {
    align-self: center !important; }
  .align-self-sm-baseline {
    align-self: baseline !important; }
  .align-self-sm-stretch {
    align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    flex-grow: 0 !important; }
  .flex-md-grow-1 {
    flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-md-start {
    justify-content: flex-start !important; }
  .justify-content-md-end {
    justify-content: flex-end !important; }
  .justify-content-md-center {
    justify-content: center !important; }
  .justify-content-md-between {
    justify-content: space-between !important; }
  .justify-content-md-around {
    justify-content: space-around !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-end {
    align-items: flex-end !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-items-md-baseline {
    align-items: baseline !important; }
  .align-items-md-stretch {
    align-items: stretch !important; }
  .align-content-md-start {
    align-content: flex-start !important; }
  .align-content-md-end {
    align-content: flex-end !important; }
  .align-content-md-center {
    align-content: center !important; }
  .align-content-md-between {
    align-content: space-between !important; }
  .align-content-md-around {
    align-content: space-around !important; }
  .align-content-md-stretch {
    align-content: stretch !important; }
  .align-self-md-auto {
    align-self: auto !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .align-self-md-end {
    align-self: flex-end !important; }
  .align-self-md-center {
    align-self: center !important; }
  .align-self-md-baseline {
    align-self: baseline !important; }
  .align-self-md-stretch {
    align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .flex-lg-column {
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-lg-start {
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    justify-content: center !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-end {
    align-items: flex-end !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .align-items-lg-baseline {
    align-items: baseline !important; }
  .align-items-lg-stretch {
    align-items: stretch !important; }
  .align-content-lg-start {
    align-content: flex-start !important; }
  .align-content-lg-end {
    align-content: flex-end !important; }
  .align-content-lg-center {
    align-content: center !important; }
  .align-content-lg-between {
    align-content: space-between !important; }
  .align-content-lg-around {
    align-content: space-around !important; }
  .align-content-lg-stretch {
    align-content: stretch !important; }
  .align-self-lg-auto {
    align-self: auto !important; }
  .align-self-lg-start {
    align-self: flex-start !important; }
  .align-self-lg-end {
    align-self: flex-end !important; }
  .align-self-lg-center {
    align-self: center !important; }
  .align-self-lg-baseline {
    align-self: baseline !important; }
  .align-self-lg-stretch {
    align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important; }
  .flex-xl-column {
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-xl-start {
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    justify-content: center !important; }
  .justify-content-xl-between {
    justify-content: space-between !important; }
  .justify-content-xl-around {
    justify-content: space-around !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .align-items-xl-end {
    align-items: flex-end !important; }
  .align-items-xl-center {
    align-items: center !important; }
  .align-items-xl-baseline {
    align-items: baseline !important; }
  .align-items-xl-stretch {
    align-items: stretch !important; }
  .align-content-xl-start {
    align-content: flex-start !important; }
  .align-content-xl-end {
    align-content: flex-end !important; }
  .align-content-xl-center {
    align-content: center !important; }
  .align-content-xl-between {
    align-content: space-between !important; }
  .align-content-xl-around {
    align-content: space-around !important; }
  .align-content-xl-stretch {
    align-content: stretch !important; }
  .align-self-xl-auto {
    align-self: auto !important; }
  .align-self-xl-start {
    align-self: flex-start !important; }
  .align-self-xl-end {
    align-self: flex-end !important; }
  .align-self-xl-center {
    align-self: center !important; }
  .align-self-xl-baseline {
    align-self: baseline !important; }
  .align-self-xl-stretch {
    align-self: stretch !important; } }

@font-face {
  font-family: "latoR";
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: "latoB";
  src: url("../fonts/Lato-Bold.ttf"); }

@font-face {
  font-family: "latoI";
  src: url("../fonts/Lato-Italic.ttf"); }

@font-face {
  font-family: "rufinaB";
  src: url("../fonts/Rufina-Bold.ttf"); }

@font-face {
  font-family: "rufinaR";
  src: url("../fonts/Rufina-Regular.ttf"); }

@font-face {
  font-family: "openSans";
  src: url("../fonts/OpenSans-Regular.ttf"); }

html, p, .login a,
body {
  margin: 0;
  padding: 0; }

body {
  color: #909090;
  font-family: 'latoR'; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: #909090; }
  a:hover {
    color: #5bc98a; }

input {
  border: none; }

input:focus, button:focus {
  outline: none; }

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.bg {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05); }

.bg-d {
  background: #222222 !important; }

.bg-d:hover {
  background: #5bc98a !important; }

.icon-fb {
  width: 8px;
  height: 15px;
  background: #4965a0;
  -webkit-mask-image: url("../imgs/fb.svg");
  mask-image: url("../imgs/fb.svg"); }

.icon-twitter {
  width: 13px;
  height: 12px;
  background: #5bafef;
  mask-image: url("../imgs/tw.svg");
  -webkit-mask-image: url("../imgs/tw.svg"); }

.icon-v {
  width: 13px;
  height: 11px;
  mask-image: url("../imgs/v.svg");
  -webkit-mask-image: url("../imgs/v.svg"); }

.icon-google-plus {
  width: 13px;
  height: 15px;
  background: #dc4e41;
  mask-image: url("../imgs/google.svg");
  -webkit-mask-image: url("../imgs/google.svg"); }

.icon-pinterest {
  width: 12px;
  height: 14px;
  background: #bd081c;
  mask-image: url("../imgs/p.svg");
  -webkit-mask-image: url("../imgs/p.svg"); }

.icon-instagram {
  width: 14px;
  height: 14px;
  background: #3f729b;
  mask-image: url("../imgs/instagram.svg");
  -webkit-mask-image: url("../imgs/instagram.svg"); }

.icon-wifi {
  width: 12px;
  height: 12px;
  mask-image: url("../imgs/wifi.svg");
  -webkit-mask-image: url("../imgs/wifi.svg"); }

.icon-mt {
  width: 12px;
  height: 12px;
  mask-image: url("../imgs/mt.svg");
  -webkit-mask-image: url("../imgs/mt.svg"); }

.icon-search {
  width: 12px;
  height: 13px;
  mask-image: url("../imgs/search.svg");
  -webkit-mask-image: url("../imgs/search.svg"); }

.icon-email {
  width: 18px;
  height: 13px;
  background: #909090;
  margin-right: 12px;
  mask: url("../imgs/email.svg") center center no-repeat;
  -webkit-mask: url("../imgs/email.svg") center center no-repeat; }

.icon-pen {
  width: 16px;
  height: 16px;
  background: #909090;
  margin-right: 10px;
  mask: url("../imgs/pen.svg") center center no-repeat;
  -webkit-mask: url("../imgs/pen.svg") center center no-repeat; }

.icon-location {
  width: 18px;
  height: 25px;
  background: #222222;
  mask: url("../imgs/location.svg") center center no-repeat;
  -webkit-mask: url("../imgs/location.svg") center center no-repeat; }

.icon-phone {
  width: 25px;
  height: 25px;
  background: #222222;
  mask: url("../imgs/phone.svg") center center no-repeat;
  -webkit-mask: url("../imgs/phone.svg") center center no-repeat; }

.icon-email-l {
  width: 26px;
  height: 21px;
  background: #222222;
  mask: url("../imgs/email-l.svg") center center no-repeat;
  -webkit-mask: url("../imgs/email-l.svg") center center no-repeat; }

.container {
  width: 100%;
  padding: 0 0 0 0;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 750px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.no-padding {
  padding: 0; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.btn-tag, .btn-sub, .btn-slide, .btn-rm {
  background: #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 35px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn-tag:focus, .btn-sub:focus, .btn-slide:focus, .btn-rm:focus, .btn-tag:hover, .btn-sub:hover, .btn-slide:hover, .btn-rm:hover {
  text-decoration: none;
  cursor: pointer; }

.btn-tag:focus, .btn-sub:focus, .btn-slide:focus, .btn-rm:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(91, 201, 138, 0.25); }

.btn-tag {
  height: 28px;
  background: #f9f9f9;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 0 15px 0 15px; }
  .btn-tag:hover {
    background: #5bc98a;
    color: #ffffff; }

.btn-sub {
  background: #5bc98a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  height: 40px;
  padding-left: 37px;
  padding-right: 37px; }
  .btn-sub:hover {
    box-shadow: 0 0 0 0.2rem rgba(91, 201, 138, 0.25); }

.btn-slide {
  height: 40px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: 'latoB';
  font-size: 14px;
  color: #5bc98a; }

.btn-rm {
  border: 1px solid #e1e1e1;
  color: #222222;
  height: 36px;
  font-size: 14px;
  padding-left: 22px;
  padding-right: 22px; }

.btn-rm:hover {
  background: #5bc98a;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.menu-active {
  color: #5bc98a !important; }

#header, #main {
  background: #f7f7f7; }

.login {
  height: 53px; }
  .login p, .login a {
    line-height: 53px;
    font-size: 14px; }
  .login a {
    color: #909090; }
  .login .row div {
    padding: 0 30px; }

.icon-user::before, .icon-lock::before {
  width: 12px;
  height: 16px;
  display: inline-block;
  background: #5bc98a;
  content: '';
  -webkit-mask: url("../imgs/user.svg") center center no-repeat;
  mask: url("../imgs/user.svg") center center no-repeat;
  margin-right: 10px;
  transform: translateY(2px); }

.icon-lock::before {
  background: #909090;
  -webkit-mask: url("../imgs/ClosedLock.svg") center center no-repeat;
  mask: url("../imgs/ClosedLock.svg") center center no-repeat; }

#menu-top {
  width: 100%;
  height: 99px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 100px;
  padding-left: 21px;
  padding-right: 21px; }

.menu ul {
  height: 35px;
  text-transform: uppercase;
  font-family: 'latoB';
  font-size: 14px; }
  .menu ul a {
    color: #222222; }
  .menu ul a:hover, .menu ul a:active {
    color: #5bc98a; }
  .menu ul li {
    margin: 15px; }
  .menu ul .icon-drop-menu::after {
    width: 16px;
    height: 10px;
    content: '';
    background: #222222;
    display: inline-block;
    mask-image: url("../imgs/drop.svg");
    -webkit-mask-image: url("../imgs/drop.svg"); }
  .menu ul .icon-drop-menu:hover::after {
    background: #5bc98a !important; }
  .menu ul .f-drop-menu {
    position: relative; }
    .menu ul .f-drop-menu .drop-menu {
      background: #ffffff;
      border-radius: .25rem;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 10rem;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease; }
      .menu ul .f-drop-menu .drop-menu li {
        padding: 5px 10px;
        background: #ffffff;
        text-align: left; }
    .menu ul .f-drop-menu:hover .drop-menu {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%); }

.menu .col-md-4 {
  padding: 0; }

.header {
  height: 205px; }

.logo {
  width: 150px;
  height: 150px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  position: absolute; }

.text-search {
  border-bottom: 1px solid #e1e1e1;
  margin-left: 30px; }
  .text-search input {
    width: 125px;
    height: 100%;
    font-family: 'rufinaR';
    font-size: 14px; }

.search {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 100%; }

#slide {
  background: #d2d2d2;
  position: relative;
  height: 500px; }
  #slide .img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: 0; }

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%); }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(91, 201, 138, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 4; }
  .dot:hover {
    background: #5bc98a; }

.active {
  background: #5bc98a; }

.display {
  display: none; }

.content-slide {
  width: 100%;
  height: 345px;
  background: #67ca91;
  color: #e2ffee;
  padding: 40px 100px 43px 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3; }

.date-time-sidebar {
  font-family: 'latoI';
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 20px; }

.td {
  font-family: 'rufinaB';
  font-size: 24px;
  height: 50px;
  line-height: 32px;
  margin-bottom: 32px; }

.nd {
  font-size: 16px;
  text-align: start;
  height: 66px;
  line-height: 24px;
  margin-bottom: 30px; }

#main {
  padding-top: 80px; }
  #main .container {
    padding-bottom: 82px; }

.kmt-l {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 770px solid #ffffff;
  position: absolute;
  bottom: 0;
  right: 0; }

.hot-news {
  margin-bottom: 100px; }
  .hot-news .hot-news-img {
    width: 100%;
    height: auto;
    background: #d2d2d2;
    position: relative;
    overflow: hidden; }
  .hot-news .btn-rm {
    margin-right: 30px; }

.bg-icon-links {
  width: 36px;
  height: 36px;
  box-shadow: none;
  border-radius: 100%;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  transition: all .3s ease;
  z-index: 2; }

.icon-links {
  width: 16px;
  height: 15px;
  background: #ffffff;
  mask-image: url("../imgs/link.svg");
  -webkit-mask-image: url("../imgs/link.svg"); }

.links {
  width: 0;
  height: 32px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  opacity: 0;
  padding: 0 15px 0 25px;
  position: absolute;
  transition: all .3s ease;
  transform: translateX(23px);
  z-index: 1; }

.hover-link:hover .bg-icon-links {
  background: #5bc98a;
  border: none;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); }

.hover-link:hover .icon-links {
  background: #ffffff; }

.hover-link:hover .links {
  width: 132px;
  height: 32px;
  opacity: 1;
  transition: all .3s ease;
  visibility: visible; }

.icon-links {
  background: #909090; }

.links {
  visibility: hidden; }

.icon-category-top, .icon-category {
  width: 56px;
  height: 56px;
  background: #5bc98a;
  border-radius: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 8px;
  right: 32px;
  z-index: 10; }

.icon-category {
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  bottom: 10px;
  right: 20px; }

.hot-top {
  width: 35px;
  height: 40px;
  background: #5bc98a url("../imgs/star.svg") center center no-repeat;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: absolute;
  left: 35px;
  top: 0; }

.hot-news-content {
  padding: 35px; }
  .hot-news-content p:nth-child(1), .hot-news-content .login a:nth-child(1), .login .hot-news-content a:nth-child(1) {
    font-family: 'latoI';
    font-size: 14px;
    margin-bottom: 10px; }
  .hot-news-content p:nth-child(2), .hot-news-content .login a:nth-child(2), .login .hot-news-content a:nth-child(2) {
    color: #222222;
    font-family: 'rufinaB';
    font-size: 20px;
    margin-bottom: 20px; }
  .hot-news-content p:nth-child(3), .hot-news-content .login a:nth-child(3), .login .hot-news-content a:nth-child(3) {
    font-size: 15px;
    margin-bottom: 35px; }

.popular-post {
  width: auto;
  height: 36px;
  color: #222222;
  line-height: 36px;
  font-family: 'rufinaB';
  font-size: 30px;
  margin-bottom: 50px; }

.popular-post::before {
  background: #5bc98a;
  width: 50px;
  height: 36px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  content: '';
  margin-right: 20px; }

.list .bg {
  margin-bottom: 60px; }

.img-post, .video, .audio, .quote {
  width: 100%;
  height: auto;
  background: #d2d2d2;
  overflow: hidden;
  position: relative; }

.post-content {
  padding: 30px 20px 34px 20px; }
  .post-content p:nth-child(1), .post-content .login a:nth-child(1), .login .post-content a:nth-child(1) {
    font-family: 'latoI';
    font-size: 14px; }
  .post-content p:nth-child(2), .post-content .login a:nth-child(2), .login .post-content a:nth-child(2) {
    color: #222222;
    font-family: 'rufinaB';
    font-size: 16px;
    margin-bottom: 15px; }
  .post-content p:nth-child(3), .post-content .login a:nth-child(3), .login .post-content a:nth-child(3) {
    font-size: 15px;
    margin-bottom: 30px; }
  .post-content .btn-rm {
    margin-right: 25px; }
  .post-content span {
    font-size: 13px;
    line-height: 36px; }

.icon-cmt, .icon-like {
  margin: 0 25px; }
  .icon-cmt::before, .icon-like::before {
    width: 14px;
    height: 12px;
    content: '';
    display: inline-block;
    background: #909090;
    margin-right: 4px;
    mask: url("../imgs/cmt.svg") center center no-repeat;
    -webkit-mask: url("../imgs/cmt.svg") center center no-repeat; }

.icon-like {
  margin: 0; }
  .icon-like::before {
    mask: url("../imgs/heart.svg") center center no-repeat;
    -webkit-mask: url("../imgs/heart.svg") center center no-repeat; }

.audio {
  width: 100%;
  height: 170px; }

.quote {
  width: 100%;
  height: 245px;
  background: #696969; }
  .quote p, .quote .login a, .login .quote a {
    font-family: 'rufinaB';
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    text-align: center; }

.sidebar .bg {
  margin-bottom: 30px; }

.sidebar-content {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 34px; }

.sidebar-title {
  color: #222222;
  height: 20px;
  line-height: 20px;
  font-family: 'rufinaB';
  font-size: 16px;
  text-transform: uppercase; }

.sidebar-title::before {
  background: #5bc98a;
  width: 25px;
  height: 20px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  content: '';
  margin-right: 9px; }

.about-me .introduce {
  text-align: center;
  margin-top: 30px;
  padding: 0 36px 0 36px; }

.about-me p:nth-child(1), .about-me .login a:nth-child(1), .login .about-me a:nth-child(1) {
  color: #222222;
  font-family: 'rufinaB';
  font-size: 15px;
  margin-bottom: 5px; }

.about-me p:nth-child(2), .about-me .login a:nth-child(2), .login .about-me a:nth-child(2) {
  font-size: 15px;
  margin-bottom: 30px; }

.avatar {
  width: 150px;
  height: 150px;
  background: #f7f7f7;
  border-radius: 100%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  margin-top: 32px; }
  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover; }

.connect-with .icons {
  margin-top: 41px;
  padding: 0 35px; }

.connect-with .icon .bg-icon-links {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: none; }

.connect-with .icon .links {
  color: #ffffff;
  font-size: 12px;
  width: auto; }

.connect-with .hover-link:hover .bg-icon-links {
  border: none;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 4; }

.connect-with .hover-link:hover .links {
  border: none;
  visibility: visible;
  z-index: 3; }

.connect-with .hover-link:nth-child(1):hover .bg-icon-links {
  background: #4965a0; }

.connect-with .hover-link:nth-child(1):hover .links {
  background: #4965a0; }

.connect-with .hover-link:nth-child(1):hover .icon-fb {
  background: #ffffff; }

.connect-with .hover-link:nth-child(2):hover .bg-icon-links {
  background: #5bafef; }

.connect-with .hover-link:nth-child(2):hover .links {
  background: #5bafef; }

.connect-with .hover-link:nth-child(2):hover .icon-twitter {
  background: #ffffff; }

.connect-with .hover-link:nth-child(3):hover .bg-icon-links {
  background: #dc4e41; }

.connect-with .hover-link:nth-child(3):hover .links {
  background: #dc4e41; }

.connect-with .hover-link:nth-child(3):hover .icon-google-plus {
  background: #ffffff; }

.connect-with .hover-link:nth-child(4):hover .bg-icon-links {
  background: #bd081c; }

.connect-with .hover-link:nth-child(4):hover .links {
  background: #bd081c; }

.connect-with .hover-link:nth-child(4):hover .icon-pinterest {
  background: #ffffff; }

.connect-with .hover-link:nth-child(5):hover .bg-icon-links {
  background: #3f729b; }

.connect-with .hover-link:nth-child(5):hover .links {
  background: #3f729b; }

.connect-with .hover-link:nth-child(5):hover .icon-instagram {
  background: #ffffff !important; }

.connect-with .sidebar-content {
  padding-bottom: 35px; }

.categories .sidebar-title {
  margin-bottom: 25px; }

.categories .sidebar-content {
  padding-bottom: 13px; }

.categories .category {
  padding: 0 30px 0 35px; }

.categories a {
  color: #909090; }

.categories a:hover span:nth-child(1) {
  color: #5bc98a; }

.categories a:hover span:nth-child(2) {
  color: #ffffff;
  background: #5bc98a; }

.categories span:nth-child(1) {
  font-size: 15px;
  text-transform: capitalize; }

.categories span:nth-child(2) {
  background: #f9f9f9;
  border-radius: 35px;
  height: 25px;
  font-size: 14px;
  margin: 13px 0 13px 0;
  padding: 0 8px 0 8px; }

.recent-post .sidebar-content {
  padding-bottom: 4px; }

.recent-post .posts {
  margin-top: 45px;
  padding: 0 35px; }

.recent-post .post {
  margin-bottom: 30px; }

.recent-post .img-recent-post {
  width: 70px;
  height: 70px;
  background: #5bc98a;
  position: relative; }
  .recent-post .img-recent-post img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .recent-post .img-recent-post:hover .kmd {
    visibility: visible; }

.recent-post .kmd {
  visibility: hidden;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0; }
  .recent-post .kmd .icon-search {
    background: #ffffff; }

.recent-post .td-recent-post {
  margin-left: 15px;
  padding-top: 7px; }
  .recent-post .td-recent-post p:nth-child(1), .recent-post .td-recent-post .login a:nth-child(1), .login .recent-post .td-recent-post a:nth-child(1) {
    color: #222222;
    font-family: 'rufinaB';
    font-size: 15px;
    margin-bottom: 10px; }
    .recent-post .td-recent-post p:nth-child(1):hover, .recent-post .td-recent-post .login a:nth-child(1):hover, .login .recent-post .td-recent-post a:nth-child(1):hover {
      color: #5bc98a; }
  .recent-post .td-recent-post p:nth-child(2), .recent-post .td-recent-post .login a:nth-child(2), .login .recent-post .td-recent-post a:nth-child(2) {
    font-family: 'latoI';
    font-size: 14px; }

.instagram p, .instagram .login a, .login .instagram a {
  margin-bottom: 15px; }

.instagram .img-instagram {
  width: 75px;
  height: 75px;
  background: #d2d2d2;
  margin-top: 30px; }
  .instagram .img-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.instagram .list-img {
  padding: 0 35px 0 35px; }

.tag-cloud .sidebar-content {
  padding-bottom: 24px; }

.tag-cloud .list-tag {
  padding: 0 35px 0 25px;
  margin-top: 45px; }

.pagination {
  width: 264px;
  height: 39px;
  background: #ffffff;
  border-radius: 35px;
  border: 1px solid #efefef;
  margin-top: 62px;
  padding: 0 16px 0 16px;
  position: relative; }
  .pagination a {
    color: #222222; }
  .pagination a:hover {
    color: #5bc98a; }
  .pagination ul:nth-child(1) li {
    margin-right: 16px; }
  .pagination ul:nth-child(2) li {
    margin-left: 16px; }

.reload {
  width: 45px;
  height: 45px;
  background: #5bc98a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  position: absolute; }

.arifuzzaman, .email {
  width: 442px;
  height: 40px;
  margin-bottom: 80px;
  border-bottom: 1px solid #dcdcdc; }
  .arifuzzaman:hover, .email:hover {
    border-bottom: 1px solid #5bc98a; }
  .arifuzzaman input, .email input {
    width: 100%;
    height: 100%;
    background: transparent; }
    .arifuzzaman input::placeholder, .email input::placeholder {
      font-size: 15px; }
  .arifuzzaman .icon-user, .email .icon-user {
    margin-right: 3px; }

footer .bg-d {
  background: #909090 !important; }
  footer .bg-d:hover {
    background: #5bc98a; }

footer .f-1 {
  background: #f1f1f1;
  padding: 63px 0 75px 0; }
  footer .f-1 #menu-bot {
    position: relative; }
    footer .f-1 #menu-bot .logo {
      background: transparent;
      box-shadow: none; }
    footer .f-1 #menu-bot a {
      color: #909090; }
      footer .f-1 #menu-bot a:hover {
        color: #5bc98a; }

footer .f-2 {
  background: #e9e9e9;
  font-family: 'openSans';
  font-size: 14px;
  height: 70px;
  position: relative; }
  footer .f-2 .kht {
    width: 46px;
    height: 46px;
    background: #e9e9e9;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  footer .f-2 .icon-mt {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%); }
  footer .f-2 a {
    color: #5bc98a; }
